.welcome {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
}


.welcome h2{
    margin: 0;
  }
  .welcome img:hover{
    transform: scale(1.13);
  }
  .welcome img {
    max-width: 100%;
    width: 45%;
    height: 45%;
    margin: 0;
  }
  @media (max-width: 600px) {
 
  }
@media (max-height: 400px) {
    .welcome img {
        width: 30%;
        height: 30%;
    }
}
 